.borda{
    border: 1px solid red;
}

.menufonte{
  font-family: "Julius Sans One", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  color: blueviolet;
}

.menufonte:hover {
background-color: lightpink; 
border-radius: 15px; 

}

.titulofonte1{
  font-family: "Emilys Candy", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  color: blue;
}

.mouse:hover {
  background-color: lightpink;
}

.conteudofonte2{
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  color: black;
}

.menu{
  justify-content: space-around;
  
}

.centro{
  justify-content: center;
       
}

.altura{
  height: 200px;
}

.efeito1:hover{
  font-size: 30px;
  font-family: "Emilys Candy", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  color: red;
  background-color: yellow;
}

