*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    
}

.a{
    text-decoration: none;
    color: black;
    
}

.a1{
    text-decoration: none;
    color: white;

    
}


.divcabecalho{
    color:  blue;
    
    background-color: #f8dce3;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
        
}

ul{
    border: 1px solid red;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
        
}



.divcorpomae{
    display: flex;
    
}

.sejadoador{
    color: #f8dce3;
    text-align: center;
    width: 100%;
}

.sejadoador:hover{
    background-color: red;
   
    
}

.sejadoador .a1:hover{
   font-variant: small-caps;
   font-size: 20px;
   background-color: yellow;    
   color: red;
}


.sejaumparceiro{
    color: red;
    text-align: center;
    width: 100%;
}

.sejaumparceiro :hover{
    background-color: black;
    color: white;
}

.sejaumparceiro:hover{
    background-color: pink;
    color: blue;
}



.pedido{
    text-align: center;
    justify-self: center;
    align-content: center;   
    
}

.pedido1{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);

}

.divcorpo{
    border: 1px solid red;
    height: 200px;
    width: 100%;
}
