.borda{
    border: 1px solid red;
}

.fonte{


  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase; /*deixa as letras maiscula*/
  text-decoration: none;
  text-align: center;
  
}

.comic-relief-bold {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}



.fonte:hover{
  background-color: #f8dce3;

}

.fonte1{
  font-family: "BBH Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.fonte2{
  font-family: "Bungee Spice", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  text-align: center;
}


.centra{
    justify-content: center;
       
}

