.borda{
    border: 1px solid orange;
}

.fonte1{
  font-family: "BBH Bogle", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
}

.fonte1h{
  font-family: "BBH Bogle", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.fonte2{
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fonte3{
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
  text-align: justify;
}



.menufonte{
  font-family: "Julius Sans One", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  color: blueviolet;
}

.menufonte:hover {
background-color: lightpink; 
border-radius: 15px; 
}

.titulofonte1{
  font-family: "Emilys Candy", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  color: blue;
  text-decoration: none
}

.mouse:hover {
  background-color: lightpink;
}

.conteudofonte2{
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  color: black;
}

.menu{
  justify-content: space-around;
}

.altura{
  height: 200px;
}

.efeito1{
  font-size: 20px;
  font-family: "Emilys Candy", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: red;
  background-color: yellow;
}

