.divcabecalho{
    color:  blue;    
    background-color: #f8dce3;

}

.borda{
    border: 1px solid orange;
}

.fonte1{
  font-family: "BBH Bogle", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
}

.fonte1h{
  font-family: "BBH Bogle", sans-serif;
  font-weight: 300;
  font-style: normal;
  
}

.fonte2{
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.fonte3{
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
  text-align: justify;
}


.sem{text-decoration: none
}