
.borda{
    border: 1px solid orange;
}

.titulo{
    font-size: 25px;
}

.fonte1{
  font-family: "Metamorphous", serif;
  font-weight: 900;
  font-style: normal;
  border: 1px solid red;
  text-transform: uppercase;
}

.fonte1:hover{
  border-radius: 15px;
  background-color: yellow;
  color: red;
  
}

.fonte2{
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: blue;
  background-color: pink;
}

.a{
  text-decoration: none;
  color: black;
  font-family: "Metamorphous", serif;
  font-weight: 700;
  font-style: normal;
  text-align: center; 
}

.a:hover{
  background-color: pink;
  
}
