
.borda{
  border: 1px solid orange;
}

.titulo{
    font-size: 25px;
}

.fonte1{
  font-family: "Metamorphous", serif;
  font-weight: 900;
  font-style: normal;
  border: 1px solid red;
  text-transform: uppercase;
}

.fonte1:hover{
  border-radius: 15px;
  background-color: yellow;
  color: red;
  
}

.fonte2{
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: blue;
  background-color: pink;
}

.a{
  text-decoration: none;
  color: black;
  font-family: "Metamorphous", serif;
  font-weight: 700;
  font-style: normal;
  text-align: center; 
}

.a:hover{
  background-color: pink;
  
}






.ajuste{
  justify-content: center;
}

.borda{
  border: 1px solid red;
}

.menufonte{
  font-family: "Julius Sans One", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  color: blueviolet;
}

.menufonte:hover {
background-color: lightpink; 
border-radius: 15px; 
}

.titulofonte1{
  font-family: "Emilys Candy", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  color: blue;
}

.conteudofonte2{
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  color: black;
}

.menu{
  justify-content: space-around;
}

.centro{
  justify-content: center;
}

.altura{
  height: 200px;
}

.centro1{
  align-items: center;
}
