*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
}

.a{
    text-decoration: none;
    color: black;
    font-family: "Castoro Titling", serif;
  font-weight: 400;
  font-style: normal;    
}

.divcabecalho{
    color:  blue;
    
    background-color: #f8dce3;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
        
}

ul{
    border: 1px solid red;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
        
}

.divcorpomae{
    display: flex;
}

.sejadoador{
    color: red;
    text-align: center;
    width: 100%;
}

.sejaumparceiro{
    color: red;
    text-align: center;
    width: 100%;
}

.pedido{
    color: red;
    text-align: center;
    width: 100%;
}

.divcorpo{
    border: 1px solid red;
    color: black;
    font-family: "League Gothic", sans-serif;
    text-align: center;
    
}

.p_texto{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    text-decoration: none;

}


.p_texto:hover{
    color: red;
    background-color:antiquewhite
}

.p_texto2{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: blue;
}

.p_texto3{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    color: red; 
}

.p_texto4{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    color: blueviolet; 
}


.corpo{
    border: 1px solid black;

}

