.fonte1{
 font-family: "Metamorphous", serif;
  font-weight: 700;
  font-style: normal;
  color: pink;
  background-color: blue;
  border-radius: 15px;
}

.fonte2{
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: blue;
}

.ajuste{
    justify-content: center;
}

.a{
  text-decoration: none;
  color: black;
  font-family: "Metamorphous", serif;
  font-weight: 700;
  font-style: normal;
  
}


